@import "typography.css";
@import "layout.css";
@import "images.css";
@import "blog-card.css";

/* Nested grid blog card container */

.blogCardContainer {
    display: grid;
    grid-template-columns: 90%;
    grid-template-areas:
    "blogpost"
    "author-info";
    column-gap: 0px;
    row-gap: 70px;
    justify-content: space-evenly;
    align-items: top;
}
@media (min-width: 901px) {
    .blogCardContainer {
        grid-template-columns: 55% 40%;
        grid-template-areas:
        "blogpost author-info"
        "blogpost xxx";
        column-gap: 60px;
    }
}
#blogpost {
    grid-area: blogpost;
}
#author-info {
    grid-area: author-info;
}
