@media screen {
    body {
        background-image:url('../images/background.jpg');
        background-repeat:repeat-y;
        background-attachment:fixed;
        background-position:top;
        background-size:100% auto;
    }
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 100%;
    margin: auto;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.blog-image {
    max-width: 100%;
    max-height: 200px;
    margin: 0px;
    object-fit: cover;
}
.blogpost-image {
    max-width: 100%;
    max-height: 400px;
    margin: 0px;
    object-fit: cover;
}
#bio-icon {
    width: 50%;
    border-radius: 50%;
    border: 1px solid #a2b7df;
    margin-right: 10px;
}
